<!doctype html>
<html lang="en" ng-app="UserReg">

<head>
    <meta charset="UTF-8">
    <title>User Registration Form</title>
    <!--BOWER_COMPONENTS_CSS_START-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <!--BOWER_COMPONENTS_CSS_END-->
    <!--CUSTOM_CSS_START-->
    <link rel="stylesheet" href="app/app.css"/>
    <!--CUSTOM_CSS_END-->
</head>

<body ng-controller="UserRegCtrl as urCtrl" class="ng-cloak">

    <div class="container">

        <div class="page-header">
            <h1>User Registration Form</h1>
        </div>

        <form action="/" method="get" name="UserRegForm" novalidate ng-submit="urCtrl.signup()">
            <div class="form-group required">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name"
                       class="form-control" ng-model="urCtrl.User.name" required>
                <div class="validation alert-danger" data-ng-show="UserRegForm.name.$touched || UserRegForm.$submitted">
                    <div data-ng-show="UserRegForm.name.$error.required">
                        <span class="glyphicon glyphicon-alert"> Name is required</span>
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label for="email">Email: </label>
                <input type="email" id="email" name="email"
                       class="form-control" ng-model="urCtrl.User.email" required>
                <div class="validation alert-danger" data-ng-show="UserRegForm.email.$touched || UserRegForm.$submitted">
                    <div data-ng-show="UserRegForm.email.$error.required">
                        <span class="glyphicon glyphicon-alert"> Email is required</span>
                    </div>
                    <div data-ng-show="UserRegForm.email.$error.email">
                        <span class="glyphicon glyphicon-alert"> Invalid email address</span>
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password"
                       class="form-control" ng-model="urCtrl.User.password" required>
                <div class="validation alert-danger" data-ng-show="UserRegForm.password.$touched || UserRegForm.$submitted">
                    <div data-ng-show="UserRegForm.email.$error.required">
                        <span class="glyphicon glyphicon-alert"> Password is required</span>
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label>Gender:</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="gender"
                               ng-model="urCtrl.User.gender" value="0">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender"
                               ng-model="urCtrl.User.gender" value="1">Female
                    </label>
                </div>
            </div>

            <div class="form-group required">
                <label for="dob">Date of birth: </label>
                <input type="date" id="dob" name="dob"
                       class="form-control" ng-model="urCtrl.User.dateOfBirth" required>
                <div class="validation alert-danger" data-ng-show="UserRegForm.dob.$touched || UserRegForm.$submitted">
                    <div data-ng-show="UserRegForm.dob.$error.required">
                        <span class="glyphicon glyphicon-alert"> Date of Birth is required</span>
                    </div>
                    <div data-ng-show="UserRegForm.dob.$invalid">
                        <span class="glyphicon glyphicon-alert"> Invalid date of birth</span>
                    </div>
                    <div data-ng-hide="urCtrl.isAgeValid()">
                        <span class="glyphicon glyphicon-alert"> You must be at least 18 years old to register!</span>
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label for="address">Address: </label>
                <input type="text" id="address" name="address"
                       class="form-control" ng-model="urCtrl.User.address" required>
                <div class="validation alert-danger" data-ng-show="UserRegForm.address.$touched || UserRegForm.$submitted">
                    <div data-ng-show="UserRegForm.address.$error.required">
                        <span class="glyphicon glyphicon-alert"> Address is required</span>
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label for="country">Country: </label>
                <input type="text" id="country" name="country"
                       class="form-control" ng-model="urCtrl.User.country" required>
                <div class="validation alert-danger" data-ng-show="UserRegForm.country.$touched || UserRegForm.$submitted">
                    <div data-ng-show="UserRegForm.country.$error.required">
                        <span class="glyphicon glyphicon-alert"> Country is required</span>
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label for="contact_number">Contact Number: </label>
                <input type="text" id="contact_number" name="contact_number"
                       class="form-control" ng-model="urCtrl.User.contact_number" required>
                <div class="validation alert-danger" data-ng-show="UserRegForm.contact_number.$touched || UserRegForm.$submitted">
                    <div data-ng-show="UserRegForm.contact_number.$error.required">
                        <span class="glyphicon glyphicon-alert"> Contact Number is required</span>
                    </div>
                    <div data-ng-hide="urCtrl.isCharValid()">
                        <span class="glyphicon glyphicon-alert"> Contact number should not contain invalid characters</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn-success form-control">Register</button>
            </div>
        </form>

    </div>

<!--Place JS scripts after this line-->
<!--BOWER_COMPONENTS_JS_START-->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--BOWER_COMPONENTS_JS_END-->
<!--CUSTOM_JS_START-->
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/js/ctrl.js"></script>
<!--CUSTOM_JS_END-->
</body>
</html>